:root {
  --color-one: #d4d4d4;
  --color-two: #264f78;
  --color-three: #18191b;
  --color-four: #db4c69;
  --color-five: #569cd6;
  --color-six: #9cdcfe;
  --color-seven: #676869;
  --color-eight: #b5cea8;
  --color-nine: #ce9178;
  --color-ten: #c586c0;
  --color-eleven: #dcdcaa;
  --color-twelve: #d16969;
  --color-thirteen: #4ec9b0;
  --color-fourteen: #d7ba7d;
  --color-fifteen: #808080;
  --color-sixteen: #f7ebc6;
  --color-seventeen: #f7d87c;
}

pre[class*="language-"],
code[class*="language-"] {
  color: var(--color-one);
  font-size: 13px;
  text-shadow: none;
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono",
    "Courier New", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"] *::selection,
code[class*="language-"] *::selection {
  text-shadow: none;
  background: var(--color-two);
}

@media print {
  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0 1.25em 0;
  overflow: auto;
  /* background: var(--color-three); */
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  color: var(--color-four);
  background: var(--color-three);
}
/*********************************************************
* Tokens
*/
.namespace {
  opacity: 0.7;
}

.token.doctype .token.doctype-tag {
  color: var(--color-five);
}

.token.doctype .token.name {
  color: var(--color-six);
}

.token.comment,
.token.prolog {
  color: var(--color-seven);
}

.token.punctuation,
.language-html .language-css .token.punctuation,
.language-html .language-javascript .token.punctuation {
  color: var(--color-one);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.inserted,
.token.unit {
  color: var(--color-eight);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.deleted {
  color: var(--color-nine);
}

.language-css .token.string.url {
  text-decoration: underline;
}

.token.operator,
.token.entity {
  color: var(--color-one);
}

.token.operator.arrow {
  color: var(--color-five);
}

.token.atrule {
  color: var(--color-nine);
}

.token.atrule .token.rule {
  color: var(--color-ten);
}

.token.atrule .token.url {
  color: var(--color-six);
}

.token.atrule .token.url .token.function {
  color: var(--color-eleven);
}

.token.atrule .token.url .token.punctuation {
  color: var(--color-one);
}

.token.keyword {
  color: var(--color-five);
}

.token.keyword.module,
.token.keyword.control-flow {
  color: var(--color-ten);
}

.token.function,
.token.function .token.maybe-class-name {
  color: var(--color-eleven);
}

.token.regex {
  color: var(--color-twelve);
}

.token.important {
  color: var(--color-five);
}

.token.italic {
  font-style: italic;
}

.token.constant {
  color: var(--color-six);
}

.token.class-name,
.token.maybe-class-name {
  color: var(--color-thirteen);
}

.token.console {
  color: var(--color-six);
}

.token.parameter {
  color: var(--color-six);
}

.token.interpolation {
  color: var(--color-six);
}

.token.punctuation.interpolation-punctuation {
  color: var(--color-five);
}

.token.boolean {
  color: var(--color-five);
}

.token.property,
.token.variable,
.token.imports .token.maybe-class-name,
.token.exports .token.maybe-class-name {
  color: var(--color-six);
}

.token.selector {
  color: var(--color-fourteen);
}

.token.escape {
  color: var(--color-fourteen);
}

.token.tag {
  color: var(--color-five);
}

.token.tag .token.punctuation {
  color: var(--color-fifteen);
}

.token.cdata {
  color: var(--color-fifteen);
}

.token.attr-name {
  color: var(--color-six);
}

.token.attr-value,
.token.attr-value .token.punctuation {
  color: var(--color-nine);
}

.token.attr-value .token.punctuation.attr-equals {
  color: var(--color-one);
}

.token.entity {
  color: var(--color-five);
}

.token.namespace {
  color: var(--color-thirteen);
}
/*********************************************************
* Language Specific
*/

pre[class*="language-javascript"],
code[class*="language-javascript"],
pre[class*="language-jsx"],
code[class*="language-jsx"],
pre[class*="language-typescript"],
code[class*="language-typescript"],
pre[class*="language-tsx"],
code[class*="language-tsx"] {
  color: var(--color-six);
}

pre[class*="language-css"],
code[class*="language-css"] {
  color: var(--color-nine);
}

pre[class*="language-html"],
code[class*="language-html"] {
  color: var(--color-one);
}

.language-regex .token.anchor {
  color: var(--color-eleven);
}

.language-html .token.punctuation {
  color: var(--color-fifteen);
}
/*********************************************************
* Line highlighting
*/
pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}

.line-highlight.line-highlight {
  background: var(--color-sixteen);
  box-shadow: inset 5px 0 0 var(--color-seventeen);
  z-index: 0;
}
